---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Haruki Ishimaru</title>
		<script src="https://www.google.com/recaptcha/enterprise.js?render=6LeD3wArAAAAADtmLa7-EDResbJsRpZEwkvHGE0w"></script>
	</head>
	<body class="bg-black/95">
		<main class="h-screen snap-y snap-mandatory overflow-y-scroll">
			<slot />
		</main>
	</body>
</html>
